.library-buttons-container {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}

/* buttons width based on screen size */
.library-button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  white-space: nowrap;
  flex-shrink: 0;
}

/* if screen size is too small, buttons wrap */
/*
@media (max-width: 400px) {
  .library-buttons-container {
    flex-wrap: wrap;
    row-gap: 0.25rem;
  }
}
*/